.videoBox{
  box-sizing: border-box;
  padding: 10px;
}
.videoHeader{
  display: flex;
}

.videoPlay{
  margin-top: 10px;
  width: 100%;
  iframe{
    width: 100%;
    height: 300px;
    background: #000;
  }
  .emptyBox{
    width: 100%;
    height: 300px;
    background: #000;
    color: #fff;
    display: grid;
    place-items: center;
  }
}